@{
    Layout = "~/pages/BasicLayout.cshtml";
}

<div id="userList">
    @if (User.Identity.IsAuthenticated)
    {

    }
</div>
<div id="noteSheet" class="noteSheet">
    @if (User.Identity.IsAuthenticated)
    {

    }
    else
    {
        <span>Welcome guest! Please <a href="~/pages/Authentication.cshtml">sign in</a>, or <a href="~/pages/Registration.cshtml">register</a> to continue.</span>
    }
</div>
