.menu{
    border: solid black 1px;
    width: 200px;
    color: rgb(143, 013, 011);
    background-color: rgb(249, 228, 151);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px rgb(143, 013, 011);
}

li{
    margin-bottom: 7px;
}

ul{
    margin-left: -20px;
}